{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<img src="https://contents.mediadecathlon.com/p1553419/k$92bab76b46a5ad1a56a92fbb62c03895/sq/sac-a-dos-de-trekking-en-montagne-homme-trek-900-symbium-7010l-anthracite.jpg?format=auto&f=969x969" class="d-block w-100" alt="...">
			<h2>Sac à dos Trekking</h2>
			<p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>

		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img src="https://contents.mediadecathlon.com/p1259842/k$2345530d33e5f5342a7311a10beaaa18/sq/tente-de-camping-2-seconds-bleue-2-personnes.jpg?format=auto&f=969x969" class="d-block w-100" alt="...">
			<h2>Tente ultra légère</h2>
			<p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>

		</div>
		<!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img src="https://contents.mediadecathlon.com/p1882183/k$c47b41237da56f7f14a8eaa4e9f7bc3a/sq/batons-marche-nordique-enfant-telescopiques-nw-p120-jr-vert.jpg?format=auto&f=969x969" class="d-block w-100" alt="...">
			<h2>Bâtons de marche</h2>
			<p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">La tente idéale et confortable.
				<span class="text-muted">Camper devient naturel</span>
			</h2>
			<p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
		</div>
		<div class="col-md-5">
			<img src="https://contents.mediadecathlon.com/p1804074/k$6f7e8cf6003bd2a9d2b2d8f1b9075c11/sq/tente-tunnel-de-trekking-3-saisons-trek-500-gris-orange-4-personnes.jpg?format=auto&f=969x969" class="d-block w-100" alt="...">

		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Sweet pour la course à pied, qui tient chaud.
				<span class="text-muted">pour vous proteger du froid et mauvais temps</span>
			</h2>
			<p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="https://contents.mediadecathlon.com/p1731034/k$92e1e980cbc99c1555c03ff14943c444/sq/sweat-de-randonnee-nh500-hybride-kaki-femme.jpg?format=auto&f=969x969" class="d-block w-100" alt="...">

		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">veste impermeable et légère.
				<span class="text-muted">Se range facilement dans votre sac à dos</span>
			</h2>
			<p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
		</div>
		<div class="col-md-5">
			<img src="https://contents.mediadecathlon.com/p1760622/k$ff743f86e9731bee1effb9a77f9bd27e/sq/veste-impermeable-de-randonnee-mh150-bleuegrise-enfant-2-6-ans.jpg?format=auto&f=969x969" class="d-block w-100" alt="...">

		</div>
	</div>

	<hr
	class="featurette-divider">

<!-- /END THE FEATURETTES -->
{% endblock %}
