{% extends 'base.html.twig' %}

{% block content %}
	<h1>Inscription</h1>

	<!-- je crée le formulaire en utilisant la méthode twig symfony form et entre parenthèse, je lui passe ma variable -->
	{{ form(form) }}{% endblock %}
